@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">(231.ITE1459.B09) Đồ án</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>Mã số sinh viên</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                                                        <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                            <tr>
                                <td>205051051</td>
                                <td>Trần Tấn Đạt</td>
                                <td>dattt20@uef.edu.vn</td>
                                <td>11/06/2002</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>