@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">ITE231231</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>ID</th>
                                <th>Họ & Tên</th>
                                <th>DOB</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>205051730</td>
                                <td>Tiger Nixon</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                        <div class="custom-switch-inner">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                            <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="ligth">
                                <th>ID</th>
                                <th>Họ & Tên</th>
                                <th>DOB</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>