<!doctype html>
<html lang="en">

<!-- Mirrored from templates.iqonic.design/product/lite/webkit/html/backend/pages-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Nov 2023 06:14:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Webkit | Responsive Bootstrap 4 Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://templates.iqonic.design/product/lite/webkit/html/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="/assets/css/backende209.css?v=1.0.0">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/remixicon/fonts/remixicon.css">

    <link rel="stylesheet" href="/assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
    <link rel="stylesheet" href="/assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
    <link rel="stylesheet" href="/assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">
</head>
<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->

    <div class="wrapper">
        @RenderBody()
    </div>

    <!-- Backend Bundle JavaScript -->
    <script src="/assets/js/backend-bundle.min.js"></script>

    <!-- Table Treeview JavaScript -->
    <script src="/assets/js/table-treeview.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/assets/js/customizer.js"></script>

    <!-- Chart Custom JavaScript -->
    <script async src="/assets/js/chart-custom.js"></script>
    <!-- Chart Custom JavaScript -->
    <script async src="/assets/js/slider.js"></script>

    <!-- app JavaScript -->
    <script src="/assets/js/app.js"></script>

    <script src="/assets/vendor/moment.min.js"></script>
</body>

<!-- Mirrored from templates.iqonic.design/product/lite/webkit/html/backend/pages-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Nov 2023 06:14:49 GMT -->
</html>