
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row align-items-center justify-content-center height-self-center">
    <div class="col-lg-8">
        <div class="card auth-card">
            <div class="card-body p-0">
                <div class="d-flex align-items-center auth-content">
                    <div class="col-lg-6 bg-primary content-left">
                        <div class="p-3">
                            <h2 class="mb-2 text-white">Đổi mật khẩu</h2>
                            <p>UEF - Quản lý làm việc nhóm</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="floating-label form-group">
                                            <input class="floating-input form-control" type="password" placeholder=" ">
                                            <label>Password</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="floating-label form-group">
                                            <input class="floating-input form-control" type="password" placeholder=" ">
                                            <label>Confirm Password</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-white">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 content-right">
                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-UEF.png" class="img-fluid image-right" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

