@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="loading">
    <div style="background: url(https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-UEF.png) no-repeat scroll center center; 
                background-size: 40%;" id="loading-center">
    </div>
</div>