@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";

}

@*<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />*@

<div class="mt-5 iq-maintenance">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-maintenance">
                    <img src="/assets/images/login/01.png" class="img-fluid" alt="">
                    <h3 class="mt-4 mb-1">Cảm ơn đã xác nhận email</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6">
                <a style="margin-left: 51%; padding: 3%;" href="/Student" class="btn btn-primary btn-block">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>