@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

<div class="row align-items-center justify-content-center height-self-center">
    <div class="col-lg-8">
        <div class="card auth-card">
            <div class="card-body p-0">
                <div class="d-flex align-items-center auth-content">
                    <div class="col-lg-6 bg-primary content-left">
                        <div class="p-3">
                            <img src="../assets/images/login/mail.png" class="img-fluid" width="80" alt="">
                            <h2 class="mt-3 mb-0 text-white">Thành công!</h2>
                            <p class="cnf-mail mb-1">
                                Một email đã được gửi đến mail của bạn vừa nhập
                                <br> Vui lòng kiểm tra email từ UEF - Quản lý làm việc nhóm và nhấp vào liên kết đi kèm để đặt lại mật khẩu của bạn.
                            </p>
                            <div class="d-inline-block w-100">
                                <a href="Login" class="btn btn-white mt-3">Quay lại đăng nhập</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 content-right">
                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-UEF.png" class="img-fluid image-right" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

