
@{
    ViewData["Title"] = "UEF - Quản lý làm việc nhóm";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    <div class="col-xl-8">
        <div class="card-transparent card-block card-stretch card-height">
            <div class="card-body p-0">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Tiến độ các task</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 mb-0">
                            <li style="margin-bottom: 2rem !important" class="mb-1">
                                <div class="d-flex align-items-center justify-content-between row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Thiết kế giao diện</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="iq-progress-bar bg-secondary-light">
                                                <span class="bg-secondary iq-progress progress-1" data-percent="65"></span>
                                            </div>
                                            <span class="ml-3">65%</span>
                                        </div>                                                                
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="mt-2 badge badge-primary">2023.1A.ITE1207.A06 - Đồ Án</span>
                                        <span class="mt-2 badge badge-secondary">Xây dựng website Shopee</span>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 2rem !important" class="mb-1">
                                <div class="d-flex align-items-center justify-content-between row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Xây dựng dữ liệu mẫu</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="iq-progress-bar bg-primary-light">
                                                <span class="bg-primary iq-progress progress-1" data-percent="59"></span>
                                            </div>
                                            <span class="ml-3">59%</span>
                                        </div>                                                                
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="mt-2 badge badge-primary">2023.1A.ITE1207.A06 - Đồ Án</span>
                                        <span class="mt-2 badge badge-secondary">Xây dựng website Shopee</span>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 2rem !important" class="mb-1">
                                <div class="d-flex align-items-center justify-content-between row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Kiểm thử phần mềm</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="iq-progress-bar bg-warning-light">
                                                <span class="bg-warning iq-progress progress-1" data-percent="78"></span>
                                            </div>
                                            <span class="ml-3">78%</span>
                                        </div>                                                                
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="mt-2 badge badge-primary">2023.1A.ITE1207.A06 - Đồ Án</span>
                                        <span class="mt-2 badge badge-secondary">Xây dựng website Shopee</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div id="circle-progress-21" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="25" data-type="percent"></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="mt-3 mt-md-0">
                                                    <h5 class="mb-1">Xây dựng web bán hàng</h5>
                                                    <p class="mb-0">2023.1A.ITE1278.A06 - Phát triển ứng dụng web</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div id="circle-progress-22" class="circle-progress-01 circle-progress circle-progress-secondary" data-min-value="0" data-max-value="100" data-value="30" data-type="percent"></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="mt-3 mt-md-0">
                                                    <h5 class="mb-1">Tạo mô hình chatbot trong trường học</h5>
                                                    <p class="mb-0">2023.1A.ITE1212.A03 - Trí tuệ nhân tạo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div id="circle-progress-23" class="circle-progress-01 circle-progress circle-progress-warning" data-min-value="0" data-max-value="100" data-value="15" data-type="percent"></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="mt-3 mt-md-0">
                                                    <h5 class="mb-1">Siker - Ứng dụng tìm kiếm món đồ thất lạc</h5>
                                                    <p class="mb-0">(2023.1A.ITE1266E.A06 - Lập trình di động)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div id="circle-progress-24" class="circle-progress-01 circle-progress circle-progress-success" data-min-value="0" data-max-value="100" data-value="40" data-type="percent"></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="mt-3 mt-md-0">
                                                    <h5 class="mb-1">Website bán điện thoại Shopee</h5>
                                                    <p class="mb-0">2023.1A.ITE1207.A06 - Môn Đồ Án</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div style="height: 55%" class="card card-block card-stretch card-height">
            <div class="card-body">
                <div class="card border-bottom pb-2 shadow-none">
                    <div class="card-body text-center inln-date flet-datepickr">
                        <input type="text" id="inline-date" class="date-input basicFlatpickr d-none"
                               readonly="readonly">
                    </div>
                </div>
                <div class="card card-list">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <svg class="svg-icon text-secondary mr-3" width="24" height="24"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                </path>
                            </svg>
                            <div class="pl-3 border-left">
                                <h5 class="mb-1">
                                    <a href="https://daotao.uef.edu.vn/">Trang đào tạo</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-list">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <svg class="svg-icon text-primary mr-3" width="24" height="24"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                                <path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                                </path>
                            </svg>
                            <div class="pl-3 border-left">
                                <h5 class="mb-1">
                                    <a href="https://lms.uef.edu.vn/">Tài liệu học tập</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

