@{
    ViewData["Title"] = "UEF - Quản lý làm việc nhóm";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                    <h5>Danh sách lớp</h5>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="dropdown status-dropdown mr-3">
                            <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-expanded="false">
                                <div class="btn bg-body"><span class="h6">Học kỳ 1A</span><i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03" style="">
                                <a class="dropdown-item" href="#">Học kỳ 1A</a>
                                <a class="dropdown-item" href="#">Học kỳ 1B</a>
                                <a class="dropdown-item" href="#">Học kỳ 2A</a>
                                <a class="dropdown-item" href="#">Học kỳ 2B</a>
                                <a class="dropdown-item" href="#">Học kỳ 3</a>
                            </div>
                        </div>
                        <div class="dropdown status-dropdown mr-3">
                            <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-expanded="false">
                                <div class="btn bg-body"><span class="h6">Năm học 2020-2021</span><i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03" style="">
                                <a class="dropdown-item" href="#">Năm học 2020-2021</a>
                                <a class="dropdown-item" href="#">Năm học 2021-2022</a>
                                <a class="dropdown-item" href="#">Năm học 2022-2023</a>
                                <a class="dropdown-item" href="#">Năm học 2023-2024</a>
                            </div>
                        </div>
                        <div class="iq-search-bar device-search" style="padding-right: 15px;">
                            <form action="#" class="searchbox">
                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                <input type="text" class="text search-input" placeholder="Search here...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card-transparent mb-0 desk-info">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="/Project/Student" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-transparent mb-0 desk-info">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content">
    <div class="table-responsive rounded bg-white mb-4">
        <table class="table mb-0 table-borderless tbl-server-info tble-min-width">
            <tbody>
                <tr>
                    <td>Hotel Management App UI Kit</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>General Improvement</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Add Multiple theme options</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Admin Panel Customization</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Sidebar in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Login screen updated in mobile</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Helpdesk in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Marketplace Admin Dashboard</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Multipurpose theme and design</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Minimal Design of IOT project</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-warning-light">
                            <span class="bg-warning iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-warning-light">Development</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

